
.container {
  padding: 100px;
  .info, .files {
    display: grid;
    grid-template-columns: 2fr 5fr 1fr 1fr;
    align-items: center;
    grid-auto-rows: auto;
    grid-row-gap: 20px;
    .name {
      grid-column-start: 2;
      grid-column-end: 3;
    }
  }
}