@use '../../assets/variables.module';

.container {
  .loader {
    margin: 10px 0px;
  }
  .viewSort {
    margin: 25px 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    * {
      margin-left:  10px;
    }
    img {
      width: 25px;
      height: 25px;
      cursor: pointer;
    }
  }
  padding: 100px;
  .info {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 3fr 1fr 2fr 2fr 1fr;
    align-items: center;
    grid-auto-rows: auto;
    grid-row-gap: 20px;
    .name {
      grid-column-start: 2;
      grid-column-end: 3;
    }

    .date {
      grid-column-start: 4;
      grid-column-end: 5;
    }

    .size {
      grid-column-start: 5;
      grid-column-end: 6;
    }


  }
}

.interact {
  display: flex;
  width: 100%;
  margin-bottom: 50px;
  justify-content: center;

  * {
    justify-content: center;
    width: 250px;
    margin-right: 10px;
  }
}

.dropArea {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
}