
.container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: rgba(188,181,138,0.9);
  width: auto;
  height: 50px;
  border-radius: 15px;
  padding: 15px;
  .title {
    margin-bottom: 10px;
  }
  .percentage {
    margin-top: 20px;
  }
  .bar, .percentage {
    text-align: center;
  }
  .loader {
    position: relative;
    .title {
    }
    .barBg {
      height: 1px;
      width: 100%;
      background: gray;
      position: absolute;
    }
    .progressBar {
      position: absolute;
      height: 1px;
      background: green;
    }
  }
}